@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #1A1A1A;
  overflow-x: hidden;
}

.active--color {
  color: #c75701 !important;
}